.button {
    width: fit-content;
    height: fit-content;
    background-color: green;
    color: white;
    border-radius: 0.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.button:active {
    background-color: rgb(69, 198, 69);
}
.button:hover {
    outline: 2px solid rgb(0, 49, 0);
    outline-offset: -2px;
}
